/* Shared Style */
* {
  margin: 0px;
  margin-top: 3px;
}
.btn-primary {
  padding: 15px 40px;
  align-items: flex-start;
  border-radius: 2rem;
  background-color: #ff42a5;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 130px;
  margin-top: 30px;
}

/* Navbar Style */
body {
  font-family: "Work Sans", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}
#navLogo {
  margin-left: 10px;
  width: 150px;
}
#navlogo1 {
  width: 73px;
}
.nav-part ul {
  display: flex;
  gap: 32px;
}
.nav-part ul > li {
  list-style: none;
}
.nav-info {
  display: flex;
  align-items: center;
  gap: 50px;
}
a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.3rem;
  font-weight: 500;
}
.follow-btn {
  color: #3c354f;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
  background-color: rgba(11, 2, 35, 0.1);
}
.fav-icon {
  margin-left: 10px;
}

/* Cover Part Style */
.cover {
  height: 550px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 0px;
  box-shadow: inset 0px 1px 15px rgba(0, 0, 0, 0.1);
}
.coverPart-1 {
  background-image: url(../images/Group_14.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  flex: 1;
}
.coverPart-1 img {
  margin-top: 20px;
  width: 335px;
  margin-left: 160px;
  margin-bottom: 20px;
}
.coverPart-1 li {
  list-style: none;
  margin-top: 10px;
  margin-left: 130px;
}
.cover-head {
  color: #0b0223;
  text-align: center;
  margin-top: 8rem;
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.coverPart-2 {
  flex: 1;
  /* background-image: url(../images/Group-18.png); */
  background-size: auto;
  background-repeat: no-repeat;
  /* margin-left: 130px; */
  /* width: 45%; */
}
.coverPart-2 img {
  width: 85%;
  height: 99%;
}

.btn-go {
  padding: 15px 40px;
  align-items: flex-start;
  border-radius: 2rem;
  background-color: #4ec5f7;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 20px;
  margin-top: 30px;
}
/* Gamer container style */
.gamer-container {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  height: 500px;
  margin-top: 0px;
  padding-top: 0px;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
}
.game-box {
  width: 85%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  height: 500px;
  /* border: 1px solid black; */
}
.game-team {
  width: 100%;
  height: 100%;
}
.game-part {
  flex: 1;
  /* border: 1px solid black; */
}
.gamer-head {
  width: 350px;
  margin-bottom: 20px;
}
.description-gamer {
  color: #534c64;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-left: 20px;
  /* text-align: justify; */
}
.purpose {
  margin-top: 30px;
  color: #534c64;
  font-size: 1.3rem;
  font-weight: 500;
}

/* updated style for Instant-container */
.instan-container {
  display: flex;
  /* align-items: center; */
  height: auto;
  /* border: 1px solid black; */
  width: 88%;
  margin: auto;
}
.batch-img {
  position: relative;
  bottom: 150px;
  left: -100px;
}
.feature-img {
  flex: 1;
}
.feature-img img {
  position: relative;
  width: 100%;
  /* margin-left: 2rem; */
}
.batch-img img {
  width: 14rem;
}
.inst-text {
  text-align: end;
  /* border: 1px solid beige; */
  flex: 1;
  margin-right: 200px;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 20px;
  height: auto;
}
.inst-des {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 30px;
}
.play-insthead {
  color: #ff42a5;
}
.inst-text h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
/*  */

/* OnlineGame style */
.OnlineGame {
  height: 600px;
}
.onlineGame-header {
  text-align: center;
  margin-top: 6rem;
}
.online-gameContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 90%;
  margin: auto;
  /* align-items: center;
    justify-content: center; */
}
.online-gameContainer img {
  width: 100%;
  height: 100%;
}
.gameBox p {
  width: 90%;
  text-align: start;
  padding: 10px;
}
.video-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.video-container:hover .video-overlay {
  visibility: visible;
}
.video-overlay .play-button {
  font-size: 24px;
  color: white;
  padding: 10px 16px;
  cursor: pointer;
}
.video-overlay .play-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

/* play-container style */
.play-container {
  display: flex;
  /* align-items: center; */
  align-items: flex-start;
  justify-content: space-between;
  width: 95%;
  height: 600px;
  /* border: 1px solid black; */
  margin: auto;
}
.play-part {
  flex: 1;
}
.play-img-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}
.play-img-box2 {
  position: absolute;
  top: 300px;
  right: 280px;
}
.play-img-inst2 {
  position: absolute;
  top: 200px;
  left: 280px;
}
.play-img-box1 {
  width: 100%;
  height: 100%;
  position: relative;
  left: 120px;
}

.play-img-inst1 {
  width: 100%;
  height: 100%;
  position: relative;
}
#play-img {
  width: 75%;
  height: 75%;
}
#play-img2 {
  width: 250px;
  height: 250px;
}

.play-text {
  align-items: center;
  width: 100%;
  /* border: 1px solid black; */
  margin-top: 100px;
  text-align: right;
  margin-right: 130px;
}
.play-text h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.play-instant-text h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.play-texthead {
  color: #ff42a5;
}

.play-des {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 400;
}

/* play-anytime */
.play-anytime {
  display: flex;
  flex-direction: column-reverse;
}
.play-instant-text {
  align-items: center;
  width: 100%;
  /* border: 1px solid black; */
  margin-top: 150px;
  text-align: left;
  margin-left: 130px;
}
/* career-container */
.career-container {
  display: flex;
  height: 600px;
  justify-content: space-between;
  /* border: 1px solid black; */
  background-color: #ff42a5;
  align-items: center;
}
.career-inner {
  padding: 60px;
}
.careerbox1 {
  flex: 1;
  /* border: 1px solid black; */
  background-image: url(../images/Group_14.png);
  background-position-x: right;
}
.careerbox2 {
  flex: 1;
  /* border: 1px solid black; */
}
.careerbox2 img {
  width: 100%;
  height: 100%;
}
.carrier-head {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}
.career-body {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 40px;
}
.table-info {
  color: white;
  font-size: 1rem;
}
.address {
  margin-left: 50px;
  font-size: 1rem;
  /* border: 1px solid black; */
  padding-left: 80px;
}
.btn-postion {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ff42a5;
  text-transform: uppercase;
  border-radius: 48px;
  background: #fff;
  padding: 15px 40px;
  border: none;
  margin-top: 30px;
}

.more-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-auto-flow: column; */
  align-items: center;
  justify-content: space-evenly;
  /* width: 95%; */
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  gap: 10px;

  background-color: rgba(255, 66, 165, 0.03);
}
.more-box {
  border: none;
  background-color: white;
  box-shadow: 5px 5px 20px 8px gainsboro;
  padding: 5px 10px;
  border-radius: 50px;
  color: #0b0223;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
}
.more-box img {
  width: 50px;
}
.more-box:hover {
  background-color: #ff42a5;
  border: none;
  cursor: pointer;
}
footer {
  background-color: #0b0223;
  text-align: center;
  align-items: center;
  padding: 50px;
  height: 400px;
}
footer img {
  height: 40px;
}
footer table {
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
footer td {
  color: white;
  font-size: 1rem;
  text-align: center;
  padding-left: 50px;
}

.footer-link {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: auto;
  margin-top: 20px;
  /* border: 1px solid red; */
}
.footer-link img {
  height: 30px;
}

.setting {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  gap: 20px;
}
.footer-bottom {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 1.2rem;
}

/* Media Query Mobile Phone */
@media screen and (max-width: 567px) {
  /* navbar responsive */
  * {
    margin: 10px auto;
  }
  nav {
    display: block;
    justify-content: center;
  }
  .nav-info {
    display: block;
    gap: 5px;
    justify-content: center;
  }
  .nav-part ul {
    display: block;
    justify-content: center;
  }

  /* Cover part Responsive */
  .cover {
    height: auto;
    width: auto;
    flex-direction: column-reverse;
  }
  .cover-head {
    margin: 10px;
    font-size: 2rem;
    text-align: left;
  }
  .coverPart-1 img {
    margin: 10px;
    width: 170px;
  }
  .coverPart-1 ul {
    /* border: 1px solid black; */
    padding: 10px;
    text-align: left;
  }
  .coverPart-1 li {
    margin: 10px;
  }
  .btn-primary {
    margin: 10px;
  }
  .btn-go {
    margin: 10px;
  }
  /* Gamer container responsive */
  .game-box {
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .gamer-container {
    height: auto;
    /* border: 1px solid black; */
  }
  /* OnlineGame responsive */
  .onlineGame-header img {
    width: 300px;
  }
  .online-gameContainer {
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 10px;
    padding: 0px;
    height: auto;
    margin-top: 50px;
    /* border: 1px solid black; */
  }
  .gameBox p {
    padding: 0px;
    margin: 10px;
    width: 70%;
  }

  /* play-container responsive */
  /*  */
  
  .inst-text {
    text-align: end; 
    margin: 10px;
    height: auto;
  }
  .inst-text h1  {
    font-size: 2.5rem;
  }
  .inst-text p{
    font-size: 1.2rem;
  }
  .instan-container {
    flex-direction: column;
    height: auto;
    margin-top: 1700px;
  }
  .feature-img img {
    position: relative;
    width: 80%;
    margin-left: 4rem;
  }
  .batch-img img {
    width: 10rem;
  }
  .batch-img {
    position: relative;
    bottom: 100px;
    left: -75px;
  }
  /*  */
  .play-container {
    /* border: 1px solid black; */
    flex-direction: column;
    height: fit-content;
  }
  .play-part {
    flex: 1;
  }
  .play-img-container {
    position: relative;
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
  }
  .play-img-box2 {
    position: absolute;
    top: 255px;
    right: 280px;
  }
  .play-img-inst2 {
    position: absolute;
    top: 200px;
    left: 280px;
  }
  .play-img-box1 {
    width: 100%;
    height: auto;
    position: relative;
    left: 120px;
  }

  .play-img-inst1 {
    width: 100%;
    height: 100%;
    position: relative;
  }
  #play-img {
    width: 75%;
    height: 75%;
  }
  #play-img2 {
    width: 250px;
    height: 250px;
  }

  .play-text {
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 10px;
    text-align: right;
    margin-right: 10px;
    height: auto;
    margin-top: 1650px;
  }
  .play-text h1 {
    font-size: 2rem;
    font-weight: 700;
    /* margin-bottom: 20px; */
  }
  .play.play-instant-text {
    padding: 0px;
    margin: 0px;
  }
  .play-instant-text h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .play-texthead {
    color: #ff42a5;
  }

  .play-des {
    color: #534c64;
    font-size: 1rem;
    font-weight: 400;
  }
  .play-img-container {
    display: block;
    margin: 0px;
    left: 0px;
    /* border: 1px solid black; */
  }
  #play-img {
    width: 70%;
  }
  #play-img2 {
    width: 100%;
    height: 70%;
  }
  .play-inst-container {
    margin-top: 200px;
  }
  .play-instant-text {
    padding: 0px;
    margin: 0px;
    margin-top: 200px;
  }
  .career-container {
    display: block;
    height: auto;
  }
  .more-container {
    grid-template-columns: repeat(2, 1fr);
  }
  footer tr {
    display: flex;
    flex-wrap: wrap;
  }
  footer {
    height: auto;
  }
}
